html {
  scroll-behavior: smooth;
}
body {
  background-color: purple;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: pink;
  padding: 1rem;
}

#pageheader {
  background-color: plum;
  min-height: auto;
  padding: 1rem;
}

#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: purple;
  background-image: url(images/MYlogo.png);
}

#pageheader .container {
  background-color: none;
  min-height: auto;
  text-align: center;
}

#pageheader nav {
  text-align: center;
}

#media {
  background-color: purple;
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/graduation.psd);
  background-size: cover;
  aspect-ratio: 16 / 9;
}

#career {
  background-color: palevioletred;
  min-height: 10rem;
  padding: 1rem;
}

#pagecontent {
  background-color: peru;
  min-height: 10rem;
  padding: 1rem;
}

blockquote {
  padding: 1rem;
  width: 50%;
  margin: 0 auto;
  text-align: right;
  font-weight: bold;
}
blockquote + span {
  padding: 1 rem;
  display: block;
  width: 50%;
  margin: 0% auto;
  text-align: right;
}

#semester1 {
  background-color: plum;
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: pink;
  min-height: 10rem;
  padding: 1rem;
}

#pagefooter {
  background-color: purple;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  text-align: center;
  min-height: auto;
}

#aifooter {
  background-color: purple;
  padding: 1rem;
  min-height: auto;
}

#aifooter.container {
  text-align: center;
  min-height: auto;
}

#subfooter {
  background-color: darkorchid;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  border: 5px solid plum;
  background-color: white;
  margin: auto;
  display: block;
}

@media screen (and min- width 600px;;) #pagecontent {
  background-color: red;
}

#career {
  background-color: blue;
}

@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: blueviolet;
  }
}
